# Environment & secrets
.env
.env.local
*.env

# Node/NPM
node_modules/
frontend/.angular/
frontend/dist/
frontend/tmp/

# Java/Maven
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# Logs
*.log

# macOS
.DS_Store

# IDE
.idea/
*.iml
out/
backend/.env.local
.vscode/
