spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/procuresense}
    username: ${SPRING_DATASOURCE_USERNAME:procure_local}
    password: ${SPRING_DATASOURCE_PASSWORD:procure_local}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true

app:
  identity:
    enforce: true
